<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://orderitemreserver.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/bc4e0128-1d3c-46b4-bca6-bc6dbe4d3f19/resourceGroups/eShopFinal/providers/Microsoft.Web/sites/OrderItemReserver</ResourceId>
    <UserName>$OrderItemReserver</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://orderitemreserver.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>